<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FeedTitle" value="My Personal Feed" />
    <add key="FeedDescription" value="" />
    <!-- To get your OneDrive DeviceId, go to https://onedrive.com and sign in. Your device id will be shown in the address bar as the value of 'cid'. -->
    <add key="OneDriveDeviceId" value="[DEVICE_ID]" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
